<strong>Olá,{{deliveryman}}</strong>
<p>Houve um cancelamento de entrega, confira os detalhes abaixo:</p>
<br />
<strong>Cliente:{{client}}</strong>
<strong>Entrega n°:{{delivery}}</strong>
<strong>Produto:{{product}}</strong>
<string>Endereço:</string><p>{{street}} n°{{number}},{{neighborhood}},{{city}}</p>
