<strong>Olá,{{deliveryman}}</strong>
<p>Temos uma nova entrega cadastrada para você, confira os detalhes abaixo:</p>
<br />
<strong>Cliente:{{client}}</strong> <br />
<strong>Entrega n°:{{delivery}}</strong> <br />
<strong>Produto:{{product}}</strong> <br />
<strong>Endereço:</strong><p>{{street}} n°{{number}},{{neighborhood}},{{city}}</p><br />
<p>Estamos aguardando a sua retirada para delivery</p>
